{% extends 'layout.html' %}

{% block body %}
    <h1>About Page</h1>

  <p> 
      This site was built by Rasheed Amolegbe. This is a project for my Harvard CS50x.

  </p>

  <p>
      Thank you to all the CS50 team. Professor David J Malan, Brian Yu, Doug Lloyd and everybody that made this possible.
  </p>

  <p>
      See you in CS50 w
  </p>

  <p>
      This website is just a mini ticketing system
  </p>
  <p>
      PS: The template and styling for this site was adopted from Corey Schafer's Flask Tutorial.
      Thank you Mr Corey.
  </p>
  <p> Images from the Gallery is from https://nrc.gov.ng/. This images are purely used for practice/testing purpose. </p>

{% endblock body %}