{% extends 'layout.html' %}

{% block body %}
    <h1>Latest News</h1>

    <div>
        <h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit accusamus quam, officia, labore totam, 
                facere accusantium sunt optio ea saepe temporibus placeat 
                beatae quia at eaque assumenda sed nobis magnam.
            </p>
        </h2>
    </div>

    <div>
        <h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit accusamus quam, officia, labore totam, 
                facere accusantium sunt optio ea saepe temporibus placeat 
                beatae quia at eaque assumenda sed nobis magnam.
            </p>
        </h2>
    </div>
    

{% endblock body %}